/*
	Installed from https://reactbits.dev/default/
*/

/* Update the lightning container styles to ensure it covers the entire page */
.lightning-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  pointer-events: none;
}

